@import 'variables';
@import 'static';

%btn-tomato {
    width: 200px;
    color: var(--negro);
    background-color: transparent;
    border: var(--negro) solid 1px;
    padding: 10px;
    transition: .5s;
    cursor: pointer;

    &:hover {
        color: #fff;
        border: 1px solid var(--a9);
        background-color: var(--a9);
        transition: ease 0.2s;
    }

    &:active {
        color: #000;
    }

    &:disabled {
        background-color: #777;
        color: #ccc;
        border: 1px solid #ccc;
        transition: .5s;
    }
}

%btn-apple {
    width: 200px;
    color: var(--negro);
    background-color: transparent;
    border: var(--negro) solid 1px;
    padding: 10px;
    transition: .5s;
    cursor: pointer;

    &:hover {
        color: #fff;
        border: 1px solid var(--a8);
        background-color: var(--a8);
        transition: ease 0.2s;
    }

    &:active {
        color: #000;
    }

    &:disabled {
        background-color: #777;
        color: #ccc;
        border: 1px solid #ccc;
        transition: .5s;
    }
}

h1, h2 {
    text-align: center;
}

.carrito-vacio, .not-found {
    display: flex;
    justify-content: center;
    margin: 6.25rem auto 15rem auto;
    font-size: 3rem;
}

main{
    a {
        text-decoration: none;
        color: var(--b2);
    }
    
    .productos {
        margin: 3rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 2.1875rem;
        justify-content: center;

        .producto {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-gap: 50px;
            
            padding: 10px;
            background-color: transparent;
            box-shadow: 5px 5px 10px var(--clarito1),
            -5px -5px 10px var(--clarito2);

            &:hover {
                box-shadow: 5px 5px 10px var(--clarito2),
                -5px -5px 10px var(--clarito1);
            }

            img {
                width: 200px;
                margin: auto;
            }

            .producto-detalle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                span {
                    font-size: 1.2rem;
                    margin: 5px 0;
                }
        
                .precio {
                    font-weight: bold;
                    font-family: var(--font2);

                    &::before {
                        content: "$ ";
                    }
                }
            }
        }
    }
}

.item-detail-container {
    margin: 3rem 0;

    .item-detail {
        display: grid;
        grid-template-areas: "datos imagen";
        grid-template-columns: 1.4fr 1fr;
        grid-template-rows: 2.4fr;
        
        .left {
            grid-area: "datos";
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-gap: 20px;
            margin-left: 80px;
    
            .titulo-detail {
                font-size: 4rem;
            }
    
            .subtitulo-detail {
                font-size: 2rem;
                color: var(--a9);
            }
    
            .descripcion-detail {
                font-size: 1.1rem;
            }
    
            .precio-detail {
                font-size: 1.1rem;
                font-weight: bold;
    
                &::before {
                    content: "$ ";
                }
            }
    
            .producto-eleccion {
                display: flex;
                justify-content: left;
                align-items: center;
                grid-gap: 20px;
                
                .cantidades {
                    display: flex;
                    
                    .restar,
                    .sumar {
                        width: 25px;
                        height: 25px;
                        color: var(--negro);
                        background-color: var(--sombraClarita);
                        font-size: 1rem;
                        border: none;
                        cursor: pointer;

                        &:active {
                            background-color: var(--sombraOscura);
                            color: var(--blanco);
                        }
                    }
                
                    .count {
                        width: 25px;
                        height: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-size: 1rem;
                    }
                }
    
                .agregar {
                    @extend %btn-tomato
                }
            }
    
            .post-agregar {
                display: flex;
                justify-content: left;
                grid-gap: 20px;
                
                a {
                    text-decoration: none;
                    width: 200px;
                    
                    .ver-carrito {
                        @extend %btn-apple
                    }
    
                    .seguir-comprando {
                        @extend %btn-tomato
                    }
                }
            }
    
        }
    
        .right {
            grid-area: "imagen";
            display: flex;
            justify-content: center;
    
            img {
                width: 80%;
            }
        }
    }
}

.carrito-container {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    grid-gap: 50px;

    .productos-carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 30px;

        .producto-carrito {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--hrline);
            border-top: 1px solid var(--hrline);

            .carrito-izq {
                width: 500px;
                display: flex;
                grid-gap: 10px;

                img {
                    width: 120px;
                }

                .izq-datos {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;

                    .carrito-titulo {
                        font-weight: bold;

                        &::before {
                            font-weight: normal;
                            content: 'Producto: ';
                        }
                    }
                    
                    .carrito-precio {
                        font-weight: bold;

                        &::before {
                            font-weight: normal;
                            content: 'Precio x cantidad: ';
                        }
                    }
                }
            }

            .carrito-mid {
                font-weight: bold;
            }

            button {
                @extend %btn-tomato;
                width: 120px;
            }
        }
    }

    .cantidades-totales-carrito {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--hrline);

        .cantidades-texto {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cantidades-numeros {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .precio-total {
                &::before {
                    content: '$';
                }
            }
        }
    }

    .acciones-carrito {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;

        .vaciar-carrito {
            @extend %btn-tomato;
        }

        .confirmar-compra {
            @extend %btn-apple;
        }
    }
}

.formulario-container {
    .compra-realizada {
        display: flex;
        flex-direction: column;
        
        .numero-orden {
            text-align: center;
            font-size: 2rem;

            b {
                user-select: text;
            }
        }

        .volver-inicio {
            width: 200px;
            margin: 40px auto;
            
            button {
                @extend %btn-tomato;
                margin: 0;
            }
        }
    }

    form {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .dato-form {
            display: flex;
            justify-content: center;
            align-items: center;

            label {
                font-size: .9rem;
            }

            input {
                width: 300px;
                height: 35px;
                padding: 0 5px;
                border: none;
                background-color: var(--blanco);
                color: var(--negro);
                font-size: 1rem;
                outline: none;
                caret-color: var(--a9);

                &::placeholder {
                    font-size: .9rem
                }
            }
        }

        .confirmar-pedido {
            @extend %btn-apple;
            margin: 50px 0 0 0;
        }
    }
}

.loader {
    margin: 30vh auto;
    width: 175px;
    height: 100px;

    span {
        display: block;
        background: #ccc;
        width: 7px;
        height: 10%;
        border-radius: 14px;
        margin-right: 5px;
        float: left;
        margin-top: 25%;

        &:last-child {
            margin-right: 0px;
        }

        &:nth-child(1) {
            animation: load var(--speed) 1.2s infinite linear;
        }

        &:nth-child(2) {
            animation: load var(--speed) 1s infinite linear;
        }

        &:nth-child(3) {
            animation: load var(--speed) 0.8s infinite linear;
        }

        &:nth-child(4) {
            animation: load var(--speed) 0.6s infinite linear;
        }

        &:nth-child(5) {
            animation: load var(--speed) 0.4s infinite linear;
        }

        &:nth-child(6) {
            animation: load var(--speed) 0.2s infinite linear;
        }

        &:nth-child(7) {
            animation: load var(--speed) 0s infinite linear;
        }

        &:nth-child(8) {
            animation: load var(--speed) 0s infinite linear;
        }

        &:nth-child(9) {
            animation: load var(--speed) 0s infinite linear;
        }

        &:nth-child(10) {
            animation: load var(--speed) 0.2s infinite linear;
        }

        &:nth-child(11) {
            animation: load var(--speed) 0.4s infinite linear;
        }

        &:nth-child(12) {
            animation: load var(--speed) 0.6s infinite linear;
        }

        &:nth-child(13) {
            animation: load var(--speed) 0.8s infinite linear;
        }

        &:nth-child(14) {
            animation: load var(--speed) 1s infinite linear;
        }

        &:nth-child(15) {
            animation: load var(--speed) 1.2s infinite linear;
        }
    }
    
    @keyframes load {
        0% {
            background: #ccc;
            margin-top: 25%;
            height: 10%;
        }
    
        50% {
            background: #444;
            height: 100%;
            margin-top: 0%;
        }
    
        100% {
            background: #ccc;
            height: 10%;
            margin-top: 25%;
        }
    }
}