@import 'variables';
@import 'static';

.swiper {
    width: 100%;
    height: 100%;

    /* para que no desaparezca el pagination horizontal */
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
}

main {

    .swiper-slide {
        background: var(--b1);

        /* Centrar slide texto vertical */
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .intermedio {
        .swiper-h {
            background: var(--b1);

            .producto {
                margin-top: 30px;
                display: grid;
                grid-template-areas: "datos imagen";
                grid-template-columns: 1.4fr 1fr;
                grid-template-rows: 2.4fr;
                cursor: grab;

                .producto-datos {
                    grid-area: datos;
                    margin-left: 100px;

                    display: flex;
                    flex-direction: column;
                    grid-gap: 20px;

                    .titulo {
                        font-size: 4rem;
                    }

                    .subtitulo {
                        font-size: 2rem;
                        color: var(--a9);
                    }

                    .descripcion {
                        font-size: 1.1rem;
                    }

                    .precio {
                        font-size: 1.1rem;
                        font-weight: bold;

                        &::before {
                            content: "$ ";
                        }
                    }

                    button {
                        width: 200px;
                        color: var(--negro);
                        background-color: transparent;
                        border: var(--negro) solid 1px;
                        padding: 10px;
                        cursor: pointer;

                        &:hover {
                            color: #fff;
                            border: 1px solid tomato;
                            background-color: tomato;
                            transition: ease 0.2s;
                        }
        
                        &:active {
                            color: #000;
                        }
                    }
                }

                .producto-imagen {
                    grid-area: imagen;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 80%;
                    }
                }
            }
        }
    }

    .final {
        display: flex;
        flex-direction: column;
        grid-gap: 50px;

        .newsletter {
            width: 80%;
            display: flex;
            justify-content: space-between;

            padding: 60px;
            color: #fff;
            background: #000;
            user-select: none;

            span {
                font-size: 2rem;
            }

            form {
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    padding: 6px;
                    width: 250px;
                    border: none;
                    outline: none;
                }

                button {
                    padding: 6px;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                        background-color: tomato;
                        transition: ease 0.2s;
                    }

                    &:active {
                        color: #000;
                    }
                }
            }
        }

        .social {
            width: 80%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 60px;
            color: #fff;
            background: #000;
            user-select: none;

            span {
                font-size: 2rem;
            }

            .redes {
                display: flex;
                grid-gap: 20px;

                .icon {
                    position: relative;
                    border-radius: 50%;
                    padding: 10px;
                    width: 40px;
                    height: 40px;
                    font-size: 1.5rem;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    color: #111;
                    background-color: #fff;
                    box-shadow: 0 10px 10px rgba(180, 180, 180, 0.1);

                    cursor: pointer;
                    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }

                .tooltip {
                    position: absolute;
                    top: 0;
                    font-size: 14px;
                    background-color: #fff;
                    color: #fff;
                    padding: 5px 8px;
                    border-radius: 5px;
                    box-shadow: 0 10px 10px rgba(180, 180, 180, 0.1);
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }

                .tooltip::before {
                    position: absolute;
                    content: "";
                    height: 8px;
                    width: 8px;
                    background-color: #fff;
                    bottom: -3px;
                    left: 50%;
                    transform: translate(-50%) rotate(45deg);
                    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }

                .icon:hover .tooltip {
                    top: -45px;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }

                .icon:hover span,
                .icon:hover .tooltip {
                    text-shadow: 0px -1px 0px rgba(180, 180, 180, 0.1);
                }

                .facebook:hover,
                .facebook:hover .tooltip,
                .facebook:hover .tooltip::before {
                    background-color: #3b5999;
                    color: #fff;
                }

                .twitter:hover,
                .twitter:hover .tooltip,
                .twitter:hover .tooltip::before {
                    background-color: #46c1f6;
                    color: #fff;
                }

                .instagram:hover,
                .instagram:hover .tooltip,
                .instagram:hover .tooltip::before {
                    background-color: #e1306c;
                    color: #fff;
                }

                .github:hover,
                .github:hover .tooltip,
                .github:hover .tooltip::before {
                    background-color: #333333;
                    color: #fff;
                }

                .youtube:hover,
                .youtube:hover .tooltip,
                .youtube:hover .tooltip::before {
                    background-color: #de463b;
                    color: #fff;
                }
            }
        }
    }
}