@import 'variables';
@import 'static';

header {
    width: 100%;
    background: var(--b1);
    font-size: 1.2rem;
    user-select: none;

    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 9;

    .top {
        display: grid;
        grid-template-areas: "izq der";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 3fr;

        .izq {
            grid-area: izq;
            display: flex;
            justify-content: left;
            align-items: center;
            margin: auto 0 auto 50px;

            img {
                display: flex;
                width: 220px;
                cursor: pointer;
            }
        }

        .der {
            grid-area: der;
            display: flex;
            justify-content: right;
            align-items: center;
            grid-gap: 20px;
            margin-right: 50px;

            button {
                border: none;
                cursor: pointer;
            }

            form {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    width: 35px;
                    height: 35px;
                    border: none;
                    background-color: var(--nav);
                    color: var(--negro);
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                        background-color: tomato;
                        transition: ease 0.2s;
                    }

                    &:active {
                        color: #000;
                    }
                }

                input {
                    width: 250px;
                    height: 35px;
                    padding-left: 5px;
                    border: none;
                    background-color: var(--blanco);
                    color: var(--negro);
                    outline: none;
                    caret-color: var(--a9);
                }
            }

            .carrito {
                position: relative;
                background: transparent;
                text-decoration: none;
                color: var(--negro);
                padding: 10px;

                .contenido-mini {
                    .mini {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        font-family: sans-serif;
                        font-size: .7rem;
                        background-color: var(--a9);
                        color: var(--negro);
                    }
                }
            }

            button.tema {
                background: transparent;
                color: var(--negro);
            }

            /* botones login y signin */

            .account {
                display: flex;
                grid-gap: 20px;

                a {
                    color: var(--negro);
                    text-decoration: none;
                    transform: none;
                    transition: transform 100ms;

                    &:hover {
                        transform: translateY(-0.10em);
                        transition: transform 100ms;
                        color: var(--a9);
                    }

                    &:active {
                        color: #888;
                    }
                }
            }

            /* 
            //INICIAR SESION
            .modal-container-login {
                position: fixed;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.9);
                transition: opacity 0.5s ease;
                pointer-events: none;
            }

            .show-login {
                opacity: 1;
                pointer-events: auto;
            }

            .modal-login {
                width: 40%;

                background-color: var(--b1);
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                overflow-x: hidden;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 1px;
                }

                .top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: sticky;
                    top: 0;
                    width: 100%;
                    padding: 1rem 0;
                    background-color: var(--b1);
                    border-bottom: 1px solid var(--sombraClarita);

                    .span {
                        text-align: center;
                    }

                    button {
                        position: absolute;
                        right: 0;
                        font-weight: bold;
                        background: transparent;
                        color: var(--a9);
                    }
                }

                form {
                    margin: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 30px;

                    input {
                        padding: 6px;
                        width: 250px;
                        border: 1px solid tomato;
                        outline: none;
                    }

                    button {
                        padding: 6px;
                        width: 200px;
                        border: none;
                        cursor: pointer;

                        &:hover {
                            color: #fff;
                            background-color: tomato;
                            transition: ease 0.2s;
                        }

                        &:active {
                            color: #000;
                        }
                    }
                }
            }

            //CREAR CUENTA
            .modal-container-signin {
                position: fixed;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.9);
                transition: opacity 0.5s ease;
                pointer-events: none;
            }

            .show-signin {
                opacity: 1;
                pointer-events: auto;
            }

            .modal-signin {
                width: 40%;

                background-color: var(--b1);
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                overflow-x: hidden;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 1px;
                }

                .top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: sticky;
                    top: 0;
                    width: 100%;
                    padding: 1rem 0;
                    background-color: var(--b1);
                    border-bottom: 1px solid var(--sombraClarita);

                    .span {
                        text-align: center;
                    }

                    button {
                        position: absolute;
                        right: 0;
                        font-weight: bold;
                        background: transparent;
                        color: var(--a9);
                    }
                }

                form {
                    margin: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 30px;

                    input {
                        padding: 6px;
                        width: 250px;
                        border: 1px solid tomato;
                        outline: none;
                    }

                    button {
                        padding: 6px;
                        width: 200px;
                        border: none;
                        cursor: pointer;

                        &:hover {
                            color: #fff;
                            background-color: tomato;
                            transition: ease 0.2s;
                        }

                        &:active {
                            color: #000;
                        }
                    }
                }
            }
            */
        }
    }

    .bot {
        background-color: var(--nav);
        display: flex;
        justify-content: space-around;
        color: var(--b3);
        align-items: center;

        div {
            display: flex;

            background-image:
                linear-gradient(transparent 0%,
                    transparent 93%,
                    var(--a9) 90%,
                    var(--a9) 100%);
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;

            transition: background-size 300ms;

            &:hover {
                background-size: 100% 100%;
                background-position-x: left;
            }

            a {
                font-size: 1.1rem;
                text-decoration: none;
                color: var(--b3);
                padding : 7px 0;

                &:active {
                    color: var(--a9);
                }
            }
        }
    }
}