@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --a1: #1f1c1f;
    --a2: #40191c;
    --a3: #611618;
    --a4: #821415;
    --a5: #a21112;
    --a6: #c30e0e;
    --a7: #ff1e1e;
    --a8: #3CB371;
    --a9: #ff5733;

    --b1: #f9f9f9;
    --b2: #111;
    --b3: #333;

    --nav: #f1f1f1;

    --blanco: #fff;
    --negro: #000;
    
    --restar: rgba(255, 87, 51, .3);
    --sumar: rgba(60, 179, 113, .3);

    --sombraOscura: rgba(0, 0, 0, 0.5);
    --sombraClarita: rgba(0, 0, 0, 0.1);

    --clarito1: #d1d1d1;
    --clarito2: #f9f9f9;

    --hrline: #e9e9e9;

    --font1: 'Poppins', sans-serif;
    --font2: 'Montserrat', sans-serif;

    --speed: 1s;
}