@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --a1: #1f1c1f;
  --a2: #40191c;
  --a3: #611618;
  --a4: #821415;
  --a5: #a21112;
  --a6: #c30e0e;
  --a7: #ff1e1e;
  --a8: #3CB371;
  --a9: #ff5733;
  --b1: #f9f9f9;
  --b2: #111;
  --blanco: #fff;
  --negro: #000;
  --nav: #eaeae8;
  --restar: rgba(255, 87, 51, .3);
  --sumar: rgba(60, 179, 113, .3);
  --sombraOscura: rgba(0, 0, 0, 0.5);
  --sombraClarita: rgba(0, 0, 0, 0.2);
  --font1: 'Poppins', sans-serif;
  --font2: 'Montserrat', sans-serif;
}

:root {
  --a1: #1f1c1f;
  --a2: #40191c;
  --a3: #611618;
  --a4: #821415;
  --a5: #a21112;
  --a6: #c30e0e;
  --a7: #ff1e1e;
  --a8: #3CB371;
  --a9: #ff5733;
  --b1: #f9f9f9;
  --b2: #111;
  --blanco: #fff;
  --negro: #000;
  --nav: #eaeae8;
  --restar: rgba(255, 87, 51, .3);
  --sumar: rgba(60, 179, 113, .3);
  --sombraOscura: rgba(0, 0, 0, 0.5);
  --sombraClarita: rgba(0, 0, 0, 0.2);
  --font1: 'Poppins', sans-serif;
  --font2: 'Montserrat', sans-serif;
}

* {
  font-family: var(--font1);
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: var(--b1);
  font-size: 14px;
  color: var(--negro);
  margin: 0;
  padding: 0;
}

:root {
  --a1: #1f1c1f;
  --a2: #40191c;
  --a3: #611618;
  --a4: #821415;
  --a5: #a21112;
  --a6: #c30e0e;
  --a7: #ff1e1e;
  --a8: #3CB371;
  --a9: #ff5733;
  --b1: #f9f9f9;
  --b2: #111;
  --blanco: #fff;
  --negro: #000;
  --nav: #eaeae8;
  --restar: rgba(255, 87, 51, .3);
  --sumar: rgba(60, 179, 113, .3);
  --sombraOscura: rgba(0, 0, 0, 0.5);
  --sombraClarita: rgba(0, 0, 0, 0.2);
  --font1: 'Poppins', sans-serif;
  --font2: 'Montserrat', sans-serif;
}

:root {
  --a1: #1f1c1f;
  --a2: #40191c;
  --a3: #611618;
  --a4: #821415;
  --a5: #a21112;
  --a6: #c30e0e;
  --a7: #ff1e1e;
  --a8: #3CB371;
  --a9: #ff5733;
  --b1: #f9f9f9;
  --b2: #111;
  --blanco: #fff;
  --negro: #000;
  --nav: #eaeae8;
  --restar: rgba(255, 87, 51, .3);
  --sumar: rgba(60, 179, 113, .3);
  --sombraOscura: rgba(0, 0, 0, 0.5);
  --sombraClarita: rgba(0, 0, 0, 0.2);
  --font1: 'Poppins', sans-serif;
  --font2: 'Montserrat', sans-serif;
}

* {
  font-family: var(--font1);
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: var(--b1);
  font-size: 14px;
  color: var(--negro);
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background: var(--b1);
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "izq der";
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr;
  position: fixed;
  top: 0;
  z-index: 9;
}

nav .izq {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: izq;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 50px;
}

nav .izq img {
  width: 250px;
}

nav .der {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: der;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
  margin-right: 50px;
  /* botones login y signin */
  /* INICIAR SESION */
  /* CREAR CUENTA */
}

nav .der button {
  border: none;
  cursor: pointer;
}

nav .der .buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .der .buscador button {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
}

nav .der .buscador button:hover {
  color: #fff;
  background-color: tomato;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

nav .der .buscador button:active {
  color: #000;
}

nav .der .buscador input {
  width: 250px;
  height: 35px;
  padding-left: 10px;
  border: none;
  outline: none;
}

nav .der .carrito {
  position: relative;
  background: transparent;
  color: var(--negro);
  padding: 10px;
}

nav .der .carrito .contenido-mini .mini {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-family: sans-serif;
  font-size: .7rem;
  background-color: var(--a9);
  color: var(--negro);
}

nav .der .modal-container-carrito {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

nav .der .show-carrito {
  opacity: 1;
  pointer-events: auto;
}

nav .der .modal-carrito {
  width: 30%;
  max-height: 90%;
  background-color: var(--b1);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .der .modal-carrito::-webkit-scrollbar {
  width: 1px;
}

nav .der .modal-carrito .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--b1);
  border-bottom: 1px solid var(--sombraClarita);
}

nav .der .modal-carrito .top .span {
  text-align: center;
}

nav .der .modal-carrito .top button {
  position: absolute;
  right: 0;
  font-weight: bold;
  background: transparent;
  color: var(--a9);
}

nav .der .modal-carrito .contenido-mid .mid {
  border-bottom: 1px solid var(--sombraClarita);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img textos";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 50px;
}

nav .der .modal-carrito .contenido-mid .mid .img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  border: 1px solid red;
  width: 70%;
}

nav .der .modal-carrito .contenido-mid .mid .textos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: textos;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: right;
}

nav .der .modal-carrito .contenido-mid .mid .textos .cantidades button {
  color: var(--negro);
  background-color: var(--sombraClarita);
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
}

nav .der .modal-carrito .contenido-mid .mid .textos .cantidades span {
  font-weight: bold;
  margin: 0 8px;
}

nav .der .modal-carrito .contenido-mid .mid .textos .precio-producto::before {
  content: "$ ";
}

nav .der .modal-carrito .contenido-bot {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

nav .der .modal-carrito .contenido-bot .bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--b1);
  border-top: 1px solid var(--sombraClarita);
}

nav .der .modal-carrito .contenido-bot .bot .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1rem;
}

nav .der .modal-carrito .contenido-bot .bot .total .precio-total::before {
  content: "$";
}

nav .der .modal-carrito .contenido-bot .bot .continuar {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 10px;
  color: var(--b1);
  font-size: 1rem;
}

nav .der .modal-carrito .contenido-bot .bot .continuar button {
  width: 40%;
}

nav .der .modal-carrito .contenido-bot .bot .continuar .vaciar-carrito {
  padding: 7px;
  color: #fff;
  background-color: var(--a9);
}

nav .der .modal-carrito .contenido-bot .bot .continuar .vaciar-carrito:active {
  background-color: var(--restar);
}

nav .der .modal-carrito .contenido-bot .bot .continuar .confirmar-compra {
  padding: 7px;
  color: #fff;
  background-color: var(--a8);
}

nav .der .modal-carrito .contenido-bot .bot .continuar .confirmar-compra:active {
  background-color: var(--sumar);
}

nav .der .modal-carrito .contenido-bot .carrito-vacio {
  margin: 40px;
  font-size: 2rem;
  text-align: center;
}

nav .der button.tema {
  background: transparent;
  color: var(--negro);
}

nav .der a {
  color: var(--negro);
  text-decoration: none;
}

nav .der a:hover {
  text-decoration: underline;
}

nav .der a:active {
  color: #888;
}

nav .der .modal-container-login {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

nav .der .show-login {
  opacity: 1;
  pointer-events: auto;
}

nav .der .modal-login {
  width: 40%;
  background-color: var(--b1);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: scroll;
}

nav .der .modal-login::-webkit-scrollbar {
  width: 1px;
}

nav .der .modal-login .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--b1);
  border-bottom: 1px solid var(--sombraClarita);
}

nav .der .modal-login .top .span {
  text-align: center;
}

nav .der .modal-login .top button {
  position: absolute;
  right: 0;
  font-weight: bold;
  background: transparent;
  color: var(--a9);
}

nav .der .modal-login form {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

nav .der .modal-login form input {
  padding: 6px;
  width: 250px;
  border: 1px solid tomato;
  outline: none;
}

nav .der .modal-login form button {
  padding: 6px;
  width: 200px;
  border: none;
  cursor: pointer;
}

nav .der .modal-login form button:hover {
  color: #fff;
  background-color: tomato;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

nav .der .modal-login form button:active {
  color: #000;
}

nav .der .modal-container-signin {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

nav .der .show-signin {
  opacity: 1;
  pointer-events: auto;
}

nav .der .modal-signin {
  width: 40%;
  background-color: var(--b1);
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: scroll;
}

nav .der .modal-signin::-webkit-scrollbar {
  width: 1px;
}

nav .der .modal-signin .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--b1);
  border-bottom: 1px solid var(--sombraClarita);
}

nav .der .modal-signin .top .span {
  text-align: center;
}

nav .der .modal-signin .top button {
  position: absolute;
  right: 0;
  font-weight: bold;
  background: transparent;
  color: var(--a9);
}

nav .der .modal-signin form {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

nav .der .modal-signin form input {
  padding: 6px;
  width: 250px;
  border: 1px solid tomato;
  outline: none;
}

nav .der .modal-signin form button {
  padding: 6px;
  width: 200px;
  border: none;
  cursor: pointer;
}

nav .der .modal-signin form button:hover {
  color: #fff;
  background-color: tomato;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

nav .der .modal-signin form button:active {
  color: #000;
}

:root {
  --a1: #1f1c1f;
  --a2: #40191c;
  --a3: #611618;
  --a4: #821415;
  --a5: #a21112;
  --a6: #c30e0e;
  --a7: #ff1e1e;
  --a8: #3CB371;
  --a9: #ff5733;
  --b1: #f9f9f9;
  --b2: #111;
  --blanco: #fff;
  --negro: #000;
  --nav: #eaeae8;
  --restar: rgba(255, 87, 51, .3);
  --sumar: rgba(60, 179, 113, .3);
  --sombraOscura: rgba(0, 0, 0, 0.5);
  --sombraClarita: rgba(0, 0, 0, 0.2);
  --font1: 'Poppins', sans-serif;
  --font2: 'Montserrat', sans-serif;
}

:root {
  --a1: #1f1c1f;
  --a2: #40191c;
  --a3: #611618;
  --a4: #821415;
  --a5: #a21112;
  --a6: #c30e0e;
  --a7: #ff1e1e;
  --a8: #3CB371;
  --a9: #ff5733;
  --b1: #f9f9f9;
  --b2: #111;
  --blanco: #fff;
  --negro: #000;
  --nav: #eaeae8;
  --restar: rgba(255, 87, 51, .3);
  --sumar: rgba(60, 179, 113, .3);
  --sombraOscura: rgba(0, 0, 0, 0.5);
  --sombraClarita: rgba(0, 0, 0, 0.2);
  --font1: 'Poppins', sans-serif;
  --font2: 'Montserrat', sans-serif;
}

* {
  font-family: var(--font1);
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: var(--b1);
  font-size: 14px;
  color: var(--negro);
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  /* para que no desaparezca el pagination horizontal */
  overflow: auto;
}

.swiper::-webkit-scrollbar {
  width: 0;
}

main .swiper-slide {
  background: var(--b1);
  /* Centrar slide texto vertical */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .intermedio .swiper-h {
  background: var(--b1);
}

main .intermedio .swiper-h .producto {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "datos imagen";
  -ms-grid-columns: 1.4fr 1fr;
      grid-template-columns: 1.4fr 1fr;
  -ms-grid-rows: 2.4fr;
      grid-template-rows: 2.4fr;
  cursor: -webkit-grab;
  cursor: grab;
}

main .intermedio .swiper-h .producto .producto-datos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: datos;
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 20px;
}

main .intermedio .swiper-h .producto .producto-datos .titulo {
  font-size: 4rem;
}

main .intermedio .swiper-h .producto .producto-datos .subtitulo {
  font-size: 2rem;
  color: var(--a9);
}

main .intermedio .swiper-h .producto .producto-datos .descripcion {
  font-size: 1.1rem;
}

main .intermedio .swiper-h .producto .producto-datos .precio {
  font-size: 1.1rem;
  font-weight: bold;
}

main .intermedio .swiper-h .producto .producto-datos .precio::before {
  content: "$ ";
}

main .intermedio .swiper-h .producto .producto-datos button {
  width: 200px;
  color: var(--negro);
  background-color: transparent;
  border: var(--negro) solid 1px;
  padding: 10px;
  cursor: pointer;
}

main .intermedio .swiper-h .producto .producto-datos button:hover {
  color: #fff;
  border: 1px solid tomato;
  background-color: tomato;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

main .intermedio .swiper-h .producto .producto-datos button:active {
  color: #000;
}

main .intermedio .swiper-h .producto .producto-imagen {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imagen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .intermedio .swiper-h .producto .producto-imagen img {
  width: 80%;
}

main .final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 50px;
}

main .final .newsletter {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px;
  color: #fff;
  background: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .final .newsletter span {
  font-size: 2rem;
}

main .final .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .final .newsletter form input {
  padding: 6px;
  width: 250px;
  border: none;
  outline: none;
}

main .final .newsletter form button {
  padding: 6px;
  border: none;
  cursor: pointer;
}

main .final .newsletter form button:hover {
  color: #fff;
  background-color: tomato;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

main .final .newsletter form button:active {
  color: #000;
}

main .final .social {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px;
  color: #fff;
  background: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .final .social span {
  font-size: 2rem;
}

main .final .social .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

main .final .social .redes .icon {
  position: relative;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 10px rgba(180, 180, 180, 0.1);
          box-shadow: 0 10px 10px rgba(180, 180, 180, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main .final .social .redes .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(180, 180, 180, 0.1);
          box-shadow: 0 10px 10px rgba(180, 180, 180, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main .final .social .redes .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #fff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main .final .social .redes .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

main .final .social .redes .icon:hover span,
main .final .social .redes .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(180, 180, 180, 0.1);
}

main .final .social .redes .facebook:hover,
main .final .social .redes .facebook:hover .tooltip,
main .final .social .redes .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #fff;
}

main .final .social .redes .twitter:hover,
main .final .social .redes .twitter:hover .tooltip,
main .final .social .redes .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #fff;
}

main .final .social .redes .instagram:hover,
main .final .social .redes .instagram:hover .tooltip,
main .final .social .redes .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #fff;
}

main .final .social .redes .github:hover,
main .final .social .redes .github:hover .tooltip,
main .final .social .redes .github:hover .tooltip::before {
  background-color: #333333;
  color: #fff;
}

main .final .social .redes .youtube:hover,
main .final .social .redes .youtube:hover .tooltip,
main .final .social .redes .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #fff;
}

.dark {
  --b1: #111;
  --b2: #f9f9f9;
  --nav: #2b2929;
  --blanco: #000;
  --negro: #fff;
  --sombraOscura: rgba(250, 250, 250, 0.5);
  --sombraClarita: rgba(250, 250, 250, 0.2);
}
/*# sourceMappingURL=all.css.map */